<a href="https://colab.research.google.com/github/visiont3lab/machine-learning-course/blob/main/Class2_25_01_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip list | grep num

numba                         0.48.0
numexpr                       2.7.2
numpy                         1.19.5

In [12]:
%cd /content/drive/MyDrive/machine-learning

/content/drive/MyDrive/machine-learning

In [1]:
import numpy as np
import cv2
import pandas as pd

In [68]:
a = np.array([ 
                [ 
                    [ -1.3 , 4 ,6, 5, 7  ] ,[1,2,3,4,5] 
                ],
                [ 
                    [ -1.9 , 1.2 ,3.5, 4, 1.11  ] ,[1.1,21,31,44,55] 
                ],
              ] 
            )

b = list(np.array([ -1.3 , 4 , 5, 5, 7  ]))

# array hanno una dimensione fissa
# liste hanno dimensione che non è fissa
#display(a)
#b.shape
len(b)

5

In [53]:
l1 = [ np.array([-1.3]), 4 , "CIAO", 5, 7  ]
l2 = [ "flòdlf", 4 , "CIAO", 5, 7  ]

larray = np.array(l)
larray.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  after removing the cwd from sys.path.

(5,)

In [57]:
# per ogni elemento contenuto dentro la lista l
m = []
for w1,w2 in zip(l1,l2):
    val = "CIAO %s %s" %(w1,w2)
    m.append(val)
m

['CIAO [-1.3] flòdlf', 'CIAO 4 4', 'CIAO CIAO CIAO', 'CIAO 5 5', 'CIAO 7 7']

In [89]:
# ------- Esercizio 1

m1 = np.array([[[4,5,6,7]]])
m2 = np.array([ 
                  [1.1,2.3,5.6,3.9], 
                  [-4.1,34.3,-55.6,36.9], 
                  [3.3,4.3,5.2,6] 
             ])

#m3 = ARRAY --> VALORE ASSOLUTO abs(e+k)

m2.shape

(3, 4)

In [ ]:
# Leonardo
m3 = np.abs(m1[0][0]) + m2[1]
m3 = np.sqrt(m1[0][0]) + m2[1]
m3 = np.power(m1[0][0],5) + m2[1]

In [ ]:
# Mattia
m3 = np.abs(m1[0][0] + m2[1])
print(m3)
# Radice quadrata
m4 = np.sqrt(m1[0][0] + m2[0])
print(m4)
# potenza alla quinta
m5 = np.power(5, m1[0][0] + m2[1])
print(m5)

In [189]:
# ------- Esercizio 2

import pandas as pd
import numpy as np
url ="https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv"
df = pd.read_csv(url)

totale_positivi_array = df["totale_positivi"].values
deceduti_array = df["deceduti"].values

# Transforma in lista
# Il numero di deceduti oggi
# Il numero di totale_positivi oggi
# Varizione totale positiv tra ieri ed oggi --> l'ultimo - il penultimo della nostra lista

# prime 5 righe
#df.head()
#df.tail(1)
#df["totale_positivi"].values
# Dataframe --> dizionario 

#df

# Totale positivi, Dimessi guariti , Deceduti , Totale Casi

# Colonne che ci servono
# df.keys() # Trovare i nomi dell colonne
l = ["totale_positivi","dimessi_guariti","deceduti","totale_casi"]
ultimi_dati_lista = [] 
variazione_dati_lista =[]
variazione_dati_array = np.array([0,0,0,0])
ultimi_dati_dict = {}
variazione_dati_dict ={}

i = 0
for el in l:
    # Selezioniamo la colonna
    col_array = df[el].values
    #print(col_array[-2:]) # da gli ultimi 2 alla fine
    
    # Lista
    ultimi_dati_lista.append(col_array[-1])
    variazione_dati_lista.append(   col_array[-1] - col_array[-2]      )
    variazione_dati_array[i] =  col_array[-1] - col_array[-2]  
    
    # Dizionario
    ultimi_dati_dict[el] = col_array[-1]
    #nome = "variazione " + el.replace("_"," ")
    nome = "variazione %s " % (el.replace("_"," "))
    #print(el.replace("_"," "))
    variazione_dati_dict[nome] = (col_array[-1] - col_array[-2] )

    i=i+1
    
print("LISTE")
print(l)
print(ultimi_dati_lista)
print(variazione_dati_lista)
print(variazione_dati_array)

print("DIZIONARI")
print(ultimi_dati_dict)
print(variazione_dati_dict)

LISTE
['totale_positivi', 'dimessi_guariti', 'deceduti', 'totale_casi']
[491630, 1897861, 85881, 2475372]
[-7648, 15787, 420, 8559]
[-7648 15787   420  8559]
DIZIONARI
{'totale_positivi': 491630, 'dimessi_guariti': 1897861, 'deceduti': 85881, 'totale_casi': 2475372}
{'variazione totale positivi ': -7648, 'variazione dimessi guariti ': 15787, 'variazione deceduti ': 420, 'variazione totale casi ': 8559}

In [185]:
a = [4,6]
a = [0,0,0]
a = np.array([0,0,0])

[4, 6]

In [142]:
list(np.array([4])

[4]

In [ ]:
a = list()

In [143]:
%load_ext google.colab.data_table

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table

In [148]:
d = {
    "c1" : np.array([4,5,6]),
    "c2" : np.array([4,6,4])     
}
print(d.keys())
print(d["c1"])

dte = pd.DataFrame(d)
dte.head()

dict_keys(['c1', 'c2'])
[4 5 6]

   c1  c2
0   4   4
1   5   6
2   6   4

In [111]:
# Tiziana
# Esercizio 2
import pandas as pd
import numpy as np
url ="https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv"
df = pd.read_csv(url)
df.head()
totale_positivi_array = df["totale_positivi"].values
deceduti_array = df["deceduti"].values

# Transforma in lista
# Il numero di deceduti oggi
dec_oggi = list([deceduti_array[-1]])
print(dec_oggi)

# Il numero di totale_positivi oggi
pos = list([totale_positivi_array[ [-5,-1] ]])
posUltimi10 = list([totale_positivi_array[ -10: ]])
posPrimi10 = list([totale_positivi_array[ :10 ]])


print( "Positivi %s " %(pos) )

postLista = []
postLista.append(totale_positivi_array[-2])
postLista.append(totale_positivi_array[-1])

print( "Positivi %s " %(postLista) )

# Varizione totale positivi tra ieri ed oggi
#--> l'ultimo - il penultimo della nostra lista
var_pos = postLista[1] - postLista[0]
print(var_pos)

[85881]
Positivi [array([557717, 553374, 547059, 535524, 523553, 516568, 502053, 498834,
       499278, 491630])]
Positivi [499278, 491630]
-7648

In [ ]:
# Mattia
lista1 = []
lista1.append(deceduti_array[-1])
lista1.append(totale_positivi_array[-1])
lista1.append(totale_positivi_array[-1] + totale_positivi_array[-2])

lista1